html, body {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Raleway', sans-serif;
    color: #46494C;
}

.header {
    overflow: hidden;
    background-color: #e8e6e3;
    padding: 20px 10px;
    display: flex;
}

.name {

}

.icons li {
    display: inline;
    margin: 5px;
}

.icons li a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.pages li{
    display: inline;
    margin: 10px;
}

.wrapper {
    /*background-color: #e8e6e3;*/
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    height: 480px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


.left, .right {
    /*background-color: #e8e6e3;*/
    margin: 5px;
    max-width: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left h4 {
    margin: 0px;
}
.left h5 {
    margin: 0px;
}


.links{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.links a {
    color: #344055;
}

a:hover {
    color: #84b3ff;
}

.social-links li {
    display: inline-block;
    margin-right: 8px;
    color: #344055;

}

.social-links a {
    text-decoration: none;
    padding: 4px;
    color: #344055;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.pic {
    border-radius: 50%;
}

